html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
}

.app--ide {
  height: 100%;
}

.ide-pane {
  position: relative;
  height: 100%;
  overflow: auto;
}

div.gutter.gutter-horizontal {
  cursor: col-resize;
  background: #ddd;
}