#proof-trace-pane {
    padding-bottom: 25%;
}

.proof-trace .subtrees {
    white-space: nowrap;
}

.proof-trace-node {
    width: fit-content;
    border: 1px solid #666;
    padding: 2px;
}

.proof-trace-node:hover {
    background: #eef;
}

.proof-trace-node > .title {
    cursor: default;
}

.proof-trace-node > .title > span.tag {
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 90%;
}

.proof-trace-goal {
    max-width: 25em;
    white-space: normal;
    border: 1px solid #999;
    padding: 2px;
}

.proof-trace-node:hover > .proof-trace-goal {
    background: #fff;
}

.proof-trace,
.proof-trace-node {
    display: inline-block;
    margin-top: 0.25em;
    margin-right: 0.2em;
    vertical-align: top;
}

.proof-trace-vars > span:not(:last-child)::after {
    content: ", ";
}

.proof-trace-vars span.name:hover {
    background: #eee;
    cursor: default;
}

.proof-trace-program-vars {
    color: #888;
}

.proof-trace-existentials {
    color: #464;
}

.proof-trace-existentials::before {
    content: "∃ ";
    font-size: 90%;
}

.proof-trace-formula span.op {
    font-size: 100%;
}
.proof-trace-formula span.var[data-of=programVars] {
    color: #888;
}

.proof-trace-formula span.var[data-of=existentials] {
    color: #464;
}

.proof-trace-formula span.var:hover {
    background: #eee;
    cursor: default;
}

#hint {
    position: fixed;
    bottom: 0;
    left: 0;
}

#hint:not(:empty) {
    padding: .1em .5em;
    background: #ddd;
}
